*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Homme ;
    src: url(fonts/Homme.ttf);
}
@font-face {
    font-family: Good ;
    src: url(fonts/Good\ Brush.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Efeito scroll-bar */
section {
    height: 100vh;
    color: white;
    scroll-snap-align: start;
}

.container-principal {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;

}
.one {
    background: url(imagens/background.jpg) no-repeat;
    background-size: 100%;
    object-fit: cover;

}

h3 a{
    font-family: Good;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 900;
    background: linear-gradient(90deg, rgba(244,128,0,1) 27%, rgba(40,40,59,1) 75%, rgba(22,26,29,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}

h3 a:hover {
    background-size: 210%;
}

.nav-top {
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.logo {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}

li{
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

li a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

li a:hover {
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 0px 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.68);
    color: rgba(244,128,0,1);
}

.container-perfil {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    align-items: center;
    font-family: Good;
    transform: rotate(0deg) skew(30deg);
    animation: Foco 7s ease-in-out infinite;
    width: 80%;
    margin-left: 100px;
    color: rgb(202, 79, 7);
}

.blur {
    color: white;
    animation: Foco 14s ease-in-out infinite;
}

@keyframes Foco {
        0%, 100% {
            transform: rotate(0deg) skew(30deg) translate(0, 0);
            text-shadow: -10px 10px rgba(0, 0, 0, .2);
        }
        50%{
            transform: rotate(0deg) skew(30deg) translate(30px, -30px);
            text-shadow: -30px 30px rgba(0, 0, 0, .2);
            filter: blur(15px);
        }
}

.two {
    background: linear-gradient(90deg, rgba(244,128,0,1) 27%, rgba(40,40,59,1) 75%, rgba(22,26,29,1) 100%);
}

.container-sobre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    height: 100vh;
    width: 100%;
}

.content-sobre {
    border-radius: 50px 0px 50px 50px;
    background-size: cover;
    background-position: center;
    border: 2px solid  rgb(202, 79, 7) ;
    box-shadow: -1em 0 0.4em black;
    color: whitesmoke;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 500px;
    width: 600px;
}

.content-sobre h1 {
   font-size: 30px;
   font-family: Good;
   margin-bottom: 30px;
}

.content-sobre p {
    font-weight: 900;
    color: rgb(214, 214, 214);
}
#Nome {
    color:rgb(202, 79, 7);
}

.content-sobre-foto {
    border-radius: 70px 0px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;

}

.content-sobre-foto #foto-perfil {
    border-radius: 30px 0px;
    box-shadow: 10px 5px 5px black;
    height: 400px;
    width: 300px;
}

.social-midia {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 40px 0px;
    border-bottom: solid 3px;
    border-color: black ;
}

.social-midia li a:hover {
    background: none;
    border: none;
    color:  rgba(22,26,29,1);
}

.redes-sociais img{
    width: 40px;
    height: 40px;
    border-radius: 50px 50px 50px 50px;
    border: solid 2px;
    box-shadow: 10px 5px 5px black;

}

.container-three-background {
    background: linear-gradient(90deg, rgba(244,128,0,1) 27%, rgba(40,40,59,1) 75%, rgba(22,26,29,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-three {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 95%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Cards {
    background: rgba(54, 54, 54, 0.4) ;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 400px;
    margin: 0px 20px;
    transition: 1s;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.Cards h2 {
    font-family: Good;
    color:rgba(40,40,59,1);

}

.Cards p{
    padding: 5px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

.tecnologia img {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
}

#html img {
    margin-bottom: 20px;
}

.barra-de-habilidade {
    width: 90%;
    height: 5px;
    background: green;
    border-radius: 50px;
}

.Cards:hover {
    transform: scale(1.3);
    border-radius: 0px 20px;
}

#html:hover{
    background: #DD4B25;   
}

#css:hover {
    background: #1B84C1;
}

#javascript:hover {
    background: #EFD81D;
}

#react:hover {
    background: #5ED3F3;
}

.four {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: blueviolet;
    height: 100vh;
    width: 95%;
}

.content-four {
    margin-left: 5px;
    height: 60vh;
    width: 400px;
    background: red;
    margin-right: 200px;
    border-radius: 0px 50px;

}

.content-four img {
    height: 60vh;
    width: 400px;
    border-radius: 0px 50px;
    object-fit: cover;
}
/* ----------> Estilização do formulario <------------ */

.content-form {
    background: rgb(255, 0, 128);
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 400px;
    border: solid 2px black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-form{
    margin-top: 10px;
    padding: 5px;
}

.dados-cliente {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.expectativa {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 5px;
}

.Trabalho {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.expectativa h3 {
    padding: 5px;

}

textarea {
    width: 314px;
    height: 174px;
    border-radius: 10px;
}